<div style="width:500px">
    <div class="form-group">
        <label>ID</label>
        <input type="number" class="form-control" id="txtId" placeholder="Enter CourseId"
            [(ngModel)]="txtId">
    </div>
    <div class="form-group">
        <label> <Title></Title></label>
        <input type="text" class="form-control" id="txttitle" placeholder="CourseName" [(ngModel)]="txttitle">
    </div>
    <div class="form-group">
        <label>Description</label>
        <input type="text" class="form-control" id="txtdescription" placeholder="Trainer" [(ngModel)]="txtdescription">
    </div>
    <div class="form-group">
        <label>Published</label>
        <input type="number" class="form-control" id="txtpublished" placeholder="Fees" [(ngModel)]="txtpublished">
    </div>
    <div class="form-group">
        <label>Fees</label>
        <input type="text" class="form-control" id="txtfees" [(ngModel)]="txtfees">
    </div>
   
    <button type="submit" class="btn btn-primary" (click)="SaveCourse()">Submit</button>
    <button type="submit" class="btn btn-primary" (click)="UpdateCourse()">Update</button>
    <button type="submit" class="btn btn-primary" (click)="DeleteCourse()">Delete</button>
</div>