<mat-tab-group>
    <mat-tab label="PRODUCT" >
        <!-- <mat-toolbar style="background-color: rgb(78, 69, 30);"> -->
      <button style="font-size: 40px; color: rgb(223, 31, 31);" mat-button routerLink="productlist"  style="color: blue;font-size: 20PX;" routerLinkActive="active">Product</button></mat-tab>
      <!-- <mat-menu #aboveMenu="matMenu" yPosition="above">
        <button routerLink="product"  style="color: blue;" routerLinkActive="active" mat-menu-item>catogory</button>
      </mat-menu> -->
      <mat-tab label="CATEGORIES"><button style="font-size: 40px; color: rgb(223, 31, 31);" mat-button routerLink="categorylist" style="color: blue;font-size: 20px;" routerLinkActive="active">Category</button></mat-tab>
      <!-- <mat-menu #belowMenu="matMenu" yPosition="below">
        <button routerLink="cato" style="color: blue;" routerLinkActive="active" mat-menu-item>catogory</button>
      </mat-menu> -->
    <!-- </mat-toolbar> -->
</mat-tab-group>
<router-outlet></router-outlet>

